.background {
    background: #f0f2f5;
}
a.topic {
    background: #eff6fa;
    padding: 1px 10px 0;
    border-radius: 30px;
    text-decoration: none;
    margin: 0 5px 5px 0;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    float: right;
}

a.topic:hover {
    background: #259;
    color: #fff;
    text-decoration: none;
}

.mdui-car-topic {
    margin: 8px 16px;
}

.article-head {
    text-align: center;
}

.article-card-icons {
    font-size: 15px;
}

.card-avatar {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

.center-user-card {
    border-radius: 3px;
}

.center-user-card img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.center-user-card-font {
    font-weight: bold;
    font-size: 18px;
}

.article-list-avatar {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.mdui-list-item-avatar {
    line-height: 0px !important ;
}
